extends layout

block content
  .container
    .h2 ** RESULTADOS DE LA RONDA **
    .h3 #{g.player1.name} = #{g.currentRound.score[0]}
    .h3 #{g.player2.name} = #{g.currentRound.score[1]}
    br
    .h2 **RESULTADOS DEL JUEGO, HASTA AHORA. **
    .h3 #{g.player1.name} = #{g.score[0]}
    .h3 #{g.player2.name} = #{g.score[1]}
    br
    form(role='form', action="/finRonda",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type="hidden", name='gameid', value='#{g._id}') 
        button.button1(type='submit') Continuar
      &nbsp;
