extends layout

block content
  .container
    .h2 ** Puntos del juego **
    .h2 #{g.currentRound.player1.name}: #{g.score[0] + g.currentRound.score[0]} | #{g.currentRound.player2.name}: #{g.score[1] + g.currentRound.score[1]}
    br
    br
    .h2 **Puntos de la ronda **
    .h2 #{g.currentRound.player1.name}: #{g.currentRound.score[0]} | #{g.currentRound.player2.name}: #{g.currentRound.score[1]}
    br
    br
    .h2 ** RONDA **
    .h2 Es el turno de #{g.currentRound.currentTurn.name}
    if (usuario==g.currentRound.player2.name)
      .h3 Cartas jugadas de #{g.currentRound.player1.name}:
      if  ((g.currentRound.player1.cartasJugadas[0] == undefined) && (g.currentRound.player1.cartasJugadas[1] == undefined) && (g.currentRound.player1.cartasJugadas[2] == undefined))
        .h3 #{g.currentRound.player1.name} no jugo cartas aún.
      if (g.currentRound.player1.cartasJugadas[0] !== undefined)
        .h3 Carta - #{g.currentRound.player1.cartasJugadas[0].number} de #{g.currentRound.player1.cartasJugadas[0].suit}
      if (g.currentRound.player1.cartasJugadas[1] !== undefined)
        .h3 Carta - #{g.currentRound.player1.cartasJugadas[1].number} de #{g.currentRound.player1.cartasJugadas[1].suit}
      if (g.currentRound.player1.cartasJugadas[2] !== undefined)
        .h3 Carta - #{g.currentRound.player1.cartasJugadas[2].number} de #{g.currentRound.player1.cartasJugadas[2].suit}
      br
      br 
      if  (g.currentRound.player2.cards[0] !== null)
        .h3 #{g.currentRound.player2.cards[0].number} de #{g.currentRound.player2.cards[0].suit}
      if  (g.currentRound.player2.cards[1] !== null) 
        .h3 #{g.currentRound.player2.cards[1].number} de #{g.currentRound.player2.cards[1].suit}
      if  (g.currentRound.player2.cards[2] !== null)
        .h3 #{g.currentRound.player2.cards[2].number} de #{g.currentRound.player2.cards[2].suit} 
      br
      h4 Puntos del envido: #{g.currentRound.player2.envidoPoints}
    else  
      .h3 Cartas jugadas de #{g.currentRound.player2.name}:
      if  ((g.currentRound.player2.cartasJugadas[0] == undefined) && (g.currentRound.player2.cartasJugadas[1] == undefined) && (g.currentRound.player2.cartasJugadas[2] == undefined))
        .h3 #{g.currentRound.player1.name} no jugo cartas aún.
      if (g.currentRound.player2.cartasJugadas[0] !== undefined)
        .h3 Carta - #{g.currentRound.player2.cartasJugadas[0].number} de #{g.currentRound.player2.cartasJugadas[0].suit}
      if (g.currentRound.player2.cartasJugadas[1] !== undefined)
        .h3 Carta - #{g.currentRound.player2.cartasJugadas[1].number} de #{g.currentRound.player2.cartasJugadas[1].suit}
      if (g.currentRound.player2.cartasJugadas[2] !== undefined)
        .h3 Carta - #{g.currentRound.player2.cartasJugadas[2].number} de #{g.currentRound.player2.cartasJugadas[2].suit}
      br
      br 
      if  (g.currentRound.player1.cards[0] !== null)
        .h3 #{g.currentRound.player1.cards[0].number} de #{g.currentRound.player1.cards[0].suit}
      if  (g.currentRound.player1.cards[1] !== null) 
        .h3 #{g.currentRound.player1.cards[1].number} de #{g.currentRound.player1.cards[1].suit}
      if  (g.currentRound.player1.cards[2] !== null)
        .h3 #{g.currentRound.player1.cards[2].number} de #{g.currentRound.player1.cards[2].suit} 
      br
      h4 Puntos del envido: #{g.currentRound.player1.envidoPoints}
      lead Seleccione una acción para jugar.
      br
      br
    if (usuario==g.currentRound.currentTurn.name) 
      form(role='form', action="/play",method="post")
       .form-group 
        input.form-control(type="hidden", name='gameid', value='#{g._id}')
        if (!(g.currentRound.checkPrevStates('truco')) && g.currentRound.fsm.can('truco'))
          input(type="submit", name="accion", value='Truco', onclick="jugRealizada()")
        if (!(g.currentRound.checkPrevStates('envido')) && !(g.currentRound.checkPrevStates('truco')))
          input(type="submit", name="accion", value='Envido', onclick="jugRealizada()")
        if g.currentRound.fsm.can('quiero')
          input(type="submit", name="accion", value='Quiero', onclick="jugRealizada()")
        if g.currentRound.fsm.can('no-quiero')
          input(type="submit", name="accion", value='No-quiero', onclick="jugRealizada()")
        if (!(g.currentRound.checkPrevStates('retruco')) && (g.currentRound.checkPrevStates('truco')))
          if (g.currentRound.vartruco !== undefined)
            if (g.currentRound.vartruco !== g.currentRound.currentTurn.name) 
              input(type="submit", name="accion", value='Re-Truco', onclick="jugRealizada()")
        if (!(g.currentRound.checkPrevStates('vale4')) && (g.currentRound.checkPrevStates('retruco')))
          if (g.currentRound.vartruco !== undefined)
            if (g.currentRound.varretruco !== g.currentRound.currentTurn.name)  
              input(type="submit", name="accion", value='Vale-4', onclick="jugRealizada()")
        if (!(g.currentRound.checkPrevStates('envido-envido')) && (g.currentRound.checkPrevStates('envido')))
          input(type="submit", name="accion", value='Reviro-Envido', onclick="jugRealizada()")
        if (!(g.currentRound.checkPrevStates('realenvido')) && !(g.currentRound.checkPrevStates('quiero')) && !(g.currentRound.checkPrevStates('truco')))
          input(type="submit", name="accion", value='Real-Envido', onclick="jugRealizada()")
        if (!(g.currentRound.checkPrevStates('faltaenvido')) && !(g.currentRound.checkPrevStates('quiero')) && !(g.currentRound.checkPrevStates('truco')))
          input(type="submit", name="accion", value='Falta-Envido', onclick="jugRealizada()")                      
        if g.currentRound.fsm.can('playcard')
          if  (g.currentRound.currentTurn.cards[0] !== null)
            input(type="submit", name="accion", value='Jugar carta 1', onclick="jugRealizada()") 
          if  (g.currentRound.currentTurn.cards[1] !== null)
            input(type="submit", name="accion", value='Jugar carta 2', onclick="jugRealizada()")
          if  (g.currentRound.currentTurn.cards[2] !== null) 
            input(type="submit", name="accion", value='Jugar carta 3', onclick="jugRealizada()")
        &nbsp;
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script.  
       var socket = io.connect('/');     
       function jugRealizada(){
         socket.emit('recargar', {puntos : '33'});
       } 
       socket.on('recargar', function(data){	 
        location.reload();     
       });
